[Unit]
Description=EnverBridge Proxy Server
After=syslog.target network-online.target

[Service]
Type=simple
User=fhem
ExecStart=/usr/local/sbin/IOTproxy/enverproxy.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
